.font-sm {
    font-size: 10px;
}
.font-sml {
    font-size: 8px;
}
.font-md {
    font-size: 12px;
}
.font-lg {
    font-size: 14px;
}
.font-bold {
    font-weight: bold;
}
.bg {
    background-color: antiquewhite;
}
.bg-gray {
    background-color: #f5f5f5;
}
.search-icon {
    position: absolute;
    top: 8px;
    left: 10px;
}
.imge {
    width: 40px;
    height: 40px;
}
.header-top {
    border-bottom: 1px solid rgb(228, 227, 227);
}
.menu-icon {
    width: 28px;
    height: 20px;
    cursor: pointer;
}
.side-icon {
    width: 34px;
}

.radioPosition {
    position: absolute;
    right: 3%;
    top: 8%;
}
.product-area {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    background-color: #fff;
}

.floating-label-group {
    position: relative;
    margin-top: 15px;
    margin-bottom: 25px;
}
.floating-label {
    font-size: 13px;
    color: #747373;
    position: absolute;
    pointer-events: none;
    top: 9px;
    left: 12px;
    transition: all 0.1s ease;
}
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
    top: -8px;
    bottom: 0px;
    left: 8px;
    font-size: 11px;
    opacity: 1;
    color: #404040;
    background: white;
}

/* grid area  */
.grid-container {
    display: grid;
    row-gap: 10px;
}
.grid-items {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-items: center;
}
.checkbox {
    grid-column: 1/2;
    text-align: center;
}
.product-checkbox {
    align-self: start;
}
.product {
    grid-column: 2/7;
}
.unic-product {
    grid-column: 2/-1;
}

.stok {
    grid-column: 7/9;
    text-align: center;
}
.by {
    grid-column: 9/11;
    text-align: center;
}
.sell {
    grid-column: 11/-1;
    text-align: center;
}


/* --- Media Queries --- */

@media screen and (max-width: 768px) {
    .resAside {
        position: absolute;
        background-color: rgb(248, 232, 212);
        width: 40%;
        z-index: 10;
        top: 10%;
        border-radius: 5%;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
            rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .sideText {
        font-size: 8px;
    }
}

@media screen and (max-width: 525px) {
    .resAside {
        width: 50%;
    }
    .persName {
        font-size: 6px;
    }
    .resPrdctText {
        font-size: 10px;
    }
    .resPrdctItmTxt {
        font-size: 8px;
    }
}
